.header {
  display: flex;
  flex-direction: column; /* Display items vertically */
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
}

.logo {
  width: 100px;
  cursor: pointer;
  margin-bottom: 20px; /* Add some spacing below the logo */
}

.nav-items {
  margin-bottom: 20px; /* Add some spacing below the navigation items */
}

.nav-items > ul {
  font-size: 24px;
  list-style-type: none;
}

.nav-items > ul > li {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some spacing below the search container */
}

.search-container input {
  min-width: 250px;
  padding: 10px;
}

.search-container input:focus {
  outline: 0;
}

.search-container button {
  padding: 10px 15px;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-direction: column; /* Display items vertically */
  align-items: center;
  gap: 10px;
  margin: 0 40px;
}

.res-card {
  width: 200px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column; /* Display items vertically */
  align-items: center; /* Center content horizontally */
}

.res-card:hover {
  border: 1px solid black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}
